<section class="img-wrapper">
    <div class="img-row">
        <div class="img">
            <img src="/media/planeta.jpg" alt="">
        </div>
        <div class="img">
            <img src="/media/titanfall-selfie.jpg" alt="">
        </div>
    </div>
    <div class="img-row">
        <div class="img">
            <img src="/media/titanfall-floresta.jpg" alt="">
        </div>
        <div class="img">
            <img src="/media/titanfall-black-market.jpg" alt="">
        </div>
    </div>
</section>