<section>
    <div class="content">
        <div>
            <img src="Titanfall_2Logo.png" height="148px" alt="">
        </div>
        <div>
            <div class="sub-title">
                <h3>
                    A Fronteira te aguarda piloto
                </h3>
            </div>
            <div class="btn-compra-wrapper">
                <a class="btn-compra" href="https://www.ea.com/pt-br/games/titanfall/titanfall-2/buy/pc"
                    target="_blank">ADQUIRIR</a>
                <div class="stores">
                    <i class="fa fa-windows" style="font-size: 32px;"></i>
                    <img width="32px" src="/home/logotipo-do-playstation.png">
                    <img width="32px" src="/home/logotipo-do-xbox.png">
                </div>
            </div>
        </div>
    </div>
</section>