<footer>
    <div class="logo">
        <a href="https://www.ea.com/pt-br">
            <img src="EA-logo.png" height="48px" alt="">
        </a>
        <p>&copy; 2024 Eletronic Arts Inc. </p>
    </div>
    <div class="juridico">
        <ul>
            <li><a href="">avisos legais e privacidade</a></li>
            <li><a href="">politica de privacidade e cookies</a></li>
            <li><a href="">contrato de usuario</a></li>
            <li><a href="">preferencias de cookies</a></li>
        </ul>
    </div>
    <div class="redes">
        <ul>
            <li><a href="https://x.com/EA"><i class="fa fa-twitter"></i> twitter</a></li>
            <li><a href="https://www.instagram.com/ea/"><i class="fa fa-instagram"></i> instagram</a></li>
            <li><a href="https://www.youtube.com/user/EA"><i class="fa fa-youtube"></i> youtube</a></li>
            <li><a href="https://www.twitch.tv/ea?lang=pt-br"><i class="fa fa-twitch"></i> twitch</a></li>
            <li><a href="https://www.facebook.com/EA/?locale=pt_BR"><i class="fa fa-facebook"></i>facebook</a></li>
        </ul>

    </div>
</footer>