<header>
    <div>
        <a [routerLink]="[ '']"><img src="Titanfall_2Logo.png" height="48px" alt=""></a>
    </div>
    <nav>
        <a class="btn-wrapper" [routerLink]="[ '' ]">
            <div class="container-link">
                <button class="btn-link">Home</button>
            </div>
        </a>
        <a class="btn-wrapper" [routerLink]="[ 'media' ]">
            <div class="container-link">
                <button class="btn-link">Media</button>
            </div>
        </a>

        <a class="btn-wrapper" [routerLink]="[ 'news' ]">
            <div class="container-link">
                <button class="btn-link">News</button>
            </div>
        </a>

        <a class="btn-wrapper" [routerLink]="[ 'studio' ]">
            <div class="container-link">
                <button class="btn-link">Studio</button>
            </div>
        </a>


    </nav>
</header>