<section class="container">
    <div>
        <img src="/studio/capa.png" width="100%" alt="">
        <p class="main-info">Founded in 2010, Respawn was created with the philosophy that when talented people have
            creative freedom,
            they’ll make
            extraordinary games that achieve the unexpected.</p>
    </div>
    <hr>
    <div class="info">
        <div>
            <img src="/studio/escada.png" width="100%" alt="">
        </div>
        <div>
            <h2>FIND THE FUN</h2>
            <p>Our passion for gameplay inspired the use of the braille letter “R” as our logo. It signifies our
                dedication to making
                games that feel good to play. We believe that every facet of the gameplay experience should feel “just
                right,” and we
                discover what's fun by constantly playing our games and listening to our community. We listen. We adapt.
                We find the
                fun.</p>
        </div>
    </div>
    <div class="info">
        <div>
            <h2>KEEP IT REAL AND RESPECTFUL.</h2>
            <p>We nurture an environment where we can be our authentic selves, know that our voices will be heard and
                that our
                colleagues have our back. Through mutual trust and respectful honesty, we can openly share our different
                perspectives,
                opinions, and feedback. We can both challenge and champion each other in the spirit of collective growth
                and integrity.</p>
        </div>
        <div>
            <img src="/studio/pessoas.png" width="100%" alt="">
        </div>
    </div>
    <div class="info">
        <div>
            <img src="/studio/pessoas-gay.png" width="100%" alt="">
        </div>
        <div>
            <h2>BE INCLUSIVE.</h2>
            <p>We strive to be allies and advocates by listening, learning, and speaking out against hatred and toxic
                behavior. By
                creating diverse characters and telling inclusive stories, we spotlight many perspectives and amplify
                the voices of
                underrepresented communities in our games. We champion projects and highlight social issues that impact
                us all because
                we care to create inclusive experiences for all our players.</p>
        </div>
    </div>
    <div class="info">
        <div>
            <h2>STAY CURIOUS.</h2>
            <p>We believe experimentation is vital for creative innovation. Through iteration, we constantly rethink our
                assumptions,
                pushing ourselves to explore unfamiliar territories because players deserve greatness, and we aspire to
                deliver
                greatness to them.</p>
        </div>
        <div>
            <img src="/studio/studio.png" width="100%" alt="">
        </div>
    </div>
</section>